@defer(on timer(5s)){
<div class="container" style="padding-top: 7%;">
    <div class="row">
        <!-- @for (product of Products; track $index) { -->

        @for (product of Products; track product.id;) {
        <div class="col-md-3">
            <app-product [product]="product"></app-product>
        </div>
        }@empty {
        <app-no-data-found></app-no-data-found>
        }
    </div>
</div>
}@placeholder {
<div class="container text-center" style="padding-top: 7%;">
    <h3 class="text-warning">Products will be loaded in 5 seconds</h3>
    <img src="./assets/Img/Loading_2.gif" class="w-25 h-25">
</div>

}